<section class="section choose-section">
  <div class="container">
    <h2 class="choose-title">Why Choose Product?</h2>
    <ul class="choose-list">
      <li class="choose-list-item">
        <div class="choose-item-icon-wrapper">
          <svg class="choose-item-icon" width="18" height="18">
            <use href="./images/symbol.svg#icon-icon1"></use>
          </svg>
        </div>
        <h3 class="choose-item-title">Special Business</h3>
        <p class="choose-item-descr">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="choose-list-item">
        <div class="choose-item-icon-wrapper">
          <svg class="choose-item-icon" width="18" height="18">
            <use href="./images/symbol.svg#icon-icon2"></use>
          </svg>
        </div>
        <h3 class="choose-item-title">Instant Result</h3>
        <p class="choose-item-descr">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="choose-list-item">
        <div class="choose-item-icon-wrapper">
          <svg class="choose-item-icon" width="18" height="18">
            <use href="./images/symbol.svg#icon-icon3"></use>
          </svg>
        </div>
        <h3 class="choose-item-title">Fastest way to organize</h3>
        <p class="choose-item-descr">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
    </ul>
  </div>
</section>
