<section class="section client-section">
  <div class="container">
    <h2 class="clients-title">What Clients Say</h2>
    <p class="clients-subtitle">
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>
    <ul class="clients-list">
      <li class="clients-list-item">
        <svg class="clients-item-icon" width="106" height="18">
          <use href="./images/symbol.svg#icon-stars"></use>
        </svg>
        <p class="clients-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="clients-user-content">
          <img
            src="./images/Ellipse-1.png"
            width="50px"
            height="50px"
            alt="Wahid Ari"
          />
          <div>
            <h3 class="client-card-title">Wahid Ari</h3>
            <p class="client-card-text">Designer</p>
          </div>
        </div>
      </li>
      <li class="clients-list-item">
        <svg class="clients-item-icon" width="106" height="18">
          <use href="./images/symbol.svg#icon-stars"></use>
        </svg>
        <p class="clients-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>

        <div class="clients-user-content">
          <img
            src="./images/Ellipse-2.png"
            width="50px"
            height="50px"
            alt="Wahid Ari"
          />
          <div>
            <h3 class="client-card-title">Wahid Ari</h3>
            <p class="client-card-text">Designer</p>
          </div>
        </div>
      </li>
      <li class="clients-list-item">
        <svg class="clients-item-icon" width="106" height="18">
          <use href="./images/symbol.svg#icon-stars"></use>
        </svg>
        <p class="clients-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="clients-user-content">
          <img
            src="./images/Ellipse-3.png"
            width="50px"
            height="50px"
            alt="Wahid Ari"
          />
          <div>
            <h3 class="client-card-title">Wahid Ari</h3>
            <p class="client-card-text">Designer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
