<footer class="section footer-section">
  <div class="container footer-container">
    <div class="footer-logo-wrapper">
      <a href="./index.html" class="footer-logo-link">
        <img src="./images/logo.svg" width="40" height="36" alt="Logotype" />
        Product
      </a>
      <ul class="social-list">
        <li class="social-list-item">
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="instagram"
            class="social-list-link"
          >
            <svg class="social-list-icon" width="20" height="20">
              <use href="./images/symbol.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="social-list-item">
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="facebook"
            class="social-list-link"
          >
            <svg class="social-list-icon" width="20" height="20">
              <use href="./images/symbol.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="social-list-item">
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="twitter"
            class="social-list-link"
          >
            <svg class="social-list-icon" width="20" height="20">
              <use href="./images/symbol.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <nav class="footer-nav">
      <div>
        <p class="footer-title">Resource</p>
        <ul class="footer-nav-list">
          <li class="footer-nav-link">
            <a href="" class="footer-nav-link">About Us</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Blog</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Contact</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">FAQ</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="footer-title">Legal Stuff</p>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Disclaimer</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Financing</a>
          </li>
          <li class="footer-nav-item">
            <a href="" class="footer-nav-link">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="footer-form-wrap">
      <p class="footer-title footer-form-title">
        knowing you're always on the best energy deal.
      </p>
      <form class="footer-form">
        <label class="footer-form-label">
          <input
            class="footer-form-input"
            type="tel"
            name="user-tel"
            placeholder="Enter your phone number"
          />
          <svg class="footer-form-icon" width="18" height="28">
            <use href="./images/symbol.svg#icon-mobile"></use>
          </svg>
        </label>
        <button type="submit" class="footer-form-btn">Sign up Now</button>
      </form>
    </div>
    <p class="footer-copy">Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
