<header class="header-section">
  <div class="container header-wrapper">
    <nav class="navigation">
      <a href="./index.html" class="logo-link">
        <img src="/images/logo.svg" width="40" height="36" alt="Logo icon" />
        <p class="logo-text">Product</p>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="nav-link current"> Product </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link"> Pricing </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Customers</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link"> Resources </a>
        </li>
      </ul>
    </nav>
    <ul class="sign-buttons-list">
      <li class="sign-buttons-item">
        <button class="sign-btn sign-in-btn">Sign In</button>
      </li>
      <li class="sign-buttons-item">
        <button class="sign-btn sign-up-btn">Sign Up</button>
      </li>
    </ul>
  </div>
</header>
