<section class="main-section">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-descr">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <div class="hero-buttons">
        <button class="hero-btn">Get started</button>
        <a class="hero-video-link" href="">
          <img
            src="./images/video-btn-icon.png"
            alt="Video-icon"
            class="video-link-icon"
          />
          Watch the Video
        </a>
      </div>
    </div>
    <img
      src="./images/hero-img.png"
      alt="Main image"
      class="hero-section-img"
    />
  </div>
</section>
