<section class="pricing-page-section section">
  <div class="container">
    <p class="pricing-subtitle">PRICING</p>
    <h2 class="pricing-title">Let’s get some real work done here.</h2>
    <p class="pricing-descr">
      Prodict is your perfect solution for working. Get started now for free
    </p>
    <ul class="price-list">
      <li class="price-list-item">
        <h3 class="price-item-title">Free</h3>
        <p class="price-item-descr">Brief price description</p>
        <div class="price-item-number-wrapper">
          <p class="price-item-number">0</p>
          <div class="price-item-icon-wrapper">
            <p class="price-item-icon">$</p>
            <p class="price-item-text">Per / month</p>
          </div>
        </div>
        <ul class="price-item-info-list">
          <li class="price-info-list-item">Only 2 Operators</li>
          <li class="price-info-list-item">Notifications</li>
          <li class="price-info-list-item">Landing Pages</li>
        </ul>
        <button class="price-item-btn" type="button">Order Now</button>
      </li>
      <li class="price-list-item">
        <h3 class="price-item-title">Standard</h3>
        <p class="price-item-descr">Brief price description</p>
        <div class="price-item-number-wrapper">
          <p class="price-item-number">5</p>
          <div class="price-item-icon-wrapper">
            <p class="price-item-icon">$</p>
            <p class="price-item-text">Per / month</p>
          </div>
        </div>
        <ul class="price-item-info-list">
          <li class="price-info-list-item">5+ Operators</li>
          <li class="price-info-list-item">Notifications</li>
          <li class="price-info-list-item">Landing Pages</li>
        </ul>
        <button class="price-item-btn" type="button">Order Now</button>
      </li>
      <li class="price-list-item">
        <h3 class="price-item-title">Premium</h3>
        <p class="price-item-descr">Brief price description</p>
        <div class="price-item-number-wrapper">
          <p class="price-item-number">10</p>
          <div class="price-item-icon-wrapper">
            <p class="price-item-icon">$</p>
            <p class="price-item-text">Per / month</p>
          </div>
        </div>
        <ul class="price-item-info-list">
          <li class="price-info-list-item">10+ Operators</li>
          <li class="price-info-list-item">Notifications</li>
          <li class="price-info-list-item">Landing Pages</li>
        </ul>
        <button class="price-item-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
