<section class="process-section">
  <div class="container process-container">
    <h2 class="process-title">Quick & Easy Process</h2>
    <p class="process-descr">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="process-list">
      <li class="process-list-item">
        <img
          src="./images/avatar-1.jpg"
          width="98"
          alt="Avatar image"
          class="process-item-image"
        />
        <p class="process-item-text">I can take care of your pitch</p>
      </li>
      <li class="process-list-item">
        <img
          src="./images/avatar-2.jpg"
          width="98"
          alt="Avatar image"
          class="process-item-image"
        />
        <p class="process-item-text">I can prototype your app</p>
      </li>
      <li class="process-list-item">
        <img
          src="./images/avatar-3.jpg"
          width="98"
          alt="Avatar image"
          class="process-item-image"
        />
        <p class="process-item-text">I can take care of your pitch</p>
      </li>
      <li class="process-list-item">
        <img
          src="./images/avatar-4.jpg"
          width="98"
          alt="Avatar image"
          class="process-item-image"
        />
        <p class="process-item-text">I can help marketing strategy</p>
      </li>
    </ul>
    <button class="support-btn">Contact our expert</button>
  </div>
</section>
