<section class="product-section">
        <div class="container">
          <h2 class="product-title">Product was Built Specifically for You</h2>
          <ul class="product-list">
            <li class="product-item">
              <img
                src="./images/icon-1.png"
                alt="First click tests"
                class="product-item-img"
              />
              <h3 class="product-item-title">First click tests</h3>
              <p class="product-item-descr">
                While most people enjoy casino gambling,
              </p>
            </li>
            <li class="product-item">
              <img
                src="./images/icon-2.png"
                alt="Design surveys"
                class="product-item-img"
              />
              <h3 class="product-item-title">Design surveys</h3>
              <p class="product-item-descr">
                Sports betting, lottery and bingo playing for the fun
              </p>
            </li>
            <li class="product-item">
              <img
                src="./images/icon-3.png"
                alt="Preference tests"
                class="product-item-img"
              />
              <h3 class="product-item-title">Preference tests</h3>
              <p class="product-item-descr">
                The Myspace page defines the individual.
              </p>
            </li>
            <li class="product-item">
              <img
                src="./images/icon-4.png"
                alt="Five second tests"
                class="product-item-img"
              />
              <h3 class="product-item-title">Five second tests</h3>
              <p class="product-item-descr">
                Personal choices and the overall personality of the person.
              </p>
            </li>
          </ul>
          <button class="product-btn">SIGN UP NOW</button>

          <ul class="product-advantages-list">
            <li class="product-advantages-item">
              <div class="product-advantages-item-wrapper">
                <h3 class="advantages-item-title">
                  <span class="advantages-item-title-style"
                    >Effortless Validation for</span
                  ><br />
                  Management
                </h3>
                <p class="advantages-item-descr">
                  The Myspace page defines the individual, his or her
                  characteristics, traits, personal choices and the overall
                  personality of the person.
                </p>
                <h4 class="advantages-item-subtitle">Accessory makers</h4>
                <p class="advantages-item-text advantages-item-text-first">
                  While most people enjoy casino gambling, sports betting,
                  lottery and bingo playing for the fun
                </p>
                <h4 class="advantages-item-subtitle">Alterationists</h4>
                <p class="advantages-item-text">
                  If you are looking for a new way to promote your business that
                  won’t cost you more money.
                </p>
              </div>
              <img src="./images/management-img.jpg" alt="Management" />
            </li>

            <li class="product-advantages-item">
              <div class="product-advantages-item-wrapper">
                <h3 class="advantages-item-title">
                  <span class="advantages-item-title-style"
                    >Easier decision making for</span
                  ><br />
                  Customer Support
                </h3>
                <p class="advantages-item-descr">
                  The Myspace page defines the individual, his or her
                  characteristics, traits, personal choices and the overall
                  personality of the person.
                </p>
                <ul class="support-list">
                  <li class="support-list-item">
                    <img
                      src="./images/support-icon-1.png"
                      width="35"
                      alt="Support image"
                      class="support-item-image"
                    />
                    <p class="support-item-descr">
                      Never worry about overpaying for your energy again.
                    </p>
                  </li>
                  <li class="support-list-item">
                    <img
                      src="./images/support-icon-2.png"
                      width="35"
                      alt="Support image"
                      class="support-item-image"
                    />
                    <p class="support-item-descr">
                      We will only switch you to energy companies that we trust
                      and will treat you right
                    </p>
                  </li>
                  <li class="support-list-item">
                    <img
                      src="./images/support-icon-3.png"
                      width="35"
                      alt="Support image"
                      class="support-item-image"
                    />
                    <p class="support-item-descr">
                      We track the markets daily and know where the savings are.
                    </p>
                  </li>
                </ul>
              </div>
              <img src="./images/support-img.jpg" alt="Support" />
            </li>

            <li class="product-advantages-item">
              <div class="product-advantages-item-wrapper">
                <h3 class="advantages-item-title">
                  <span class="advantages-item-title-style"
                    >Optimisation for</span
                  ><br />
                  Collaborative
                </h3>
                <p class="advantages-item-descr">
                  Few would argue that, despite the advancements of feminism
                  over the past three decades, women still face a double
                  standard when it comes to their behavior.
                </p>
                <h4 class="advantages-item-subtitle">Accessory makers</h4>
                <p class="advantages-item-text advantages-item-text-first">
                  While most people enjoy casino gambling, sports betting,
                  lottery and bingo playing for the fun
                </p>
                <h4 class="advantages-item-subtitle">Alterationists</h4>
                <p class="advantages-item-text">
                  If you are looking for a new way to promote your business that
                  won’t cost you more money.
                </p>
              </div>
              <img src="./images/collaboration-img.jpg" alt="Collaborative" />
            </li>
          </ul>
        </div>
      </section>