<section class="product-work-section section">
  <div class="container product-work-container">
    <h2 class="product-work-title">How Product Work?</h2>
    <ul class="product-work-list">
      <li class="product-work-list-item">
        <img
          src="./images/mac1.jpg"
          alt="Mac 1"
          class="product-work-item-img"
          width="500"
          height="280"
        />
        <div class="product-work-item-content">
          <p class="product-work-item-subtitle">STEP 1</p>
          <h3 class="product-work-item-title">Apply for a product</h3>
          <p class="product-work-item-descr">
            Completing our easy step-by-step application form gives you access
            to multiple business with multiple products. We analyse your
            business through our proprietary credit analysis technology
          </p>
        </div>
      </li>
      <li class="product-work-list-item">
        <img
          src="./images/mac2.jpg"
          alt="Mac 1"
          class="product-work-item-img"
        />
        <div class="product-work-item-content">
          <p class="product-work-item-subtitle">STEP 2</p>
          <h3 class="product-work-item-title">Pay fully refundable</h3>
          <p class="product-work-item-descr">
            Product will contactting you instantly to receive payment of the
            Application Fee. if no offer of product is available, your fee will
            be fully refunded.
          </p>
        </div>
      </li>
      <li class="product-work-list-item">
        <img
          src="./images/mac3.jpg"
          alt="Mac 3"
          class="product-work-item-img"
        />
        <div class="product-work-item-content">
          <p class="product-work-item-subtitle">STEP 3</p>
          <h3 class="product-work-item-title">Completion</h3>
          <p class="product-work-item-descr">
            Product will continue to liase between borrower and manager to
            procees and complete a quick and efficient settlement
          </p>
        </div>
      </li>
    </ul>
    <button class="product-work-btn" type="button">Get in touch with us</button>
  </div>
</section>
