<section class="section services-section">
  <div class="container services-container">
    <h2 class="services-title">
      Join thousand of other who have already received offers
    </h2>
    <ul class="services-list">
      <li class="services-list-item">
        <div class="services-item-icon-wrapper">
          <img
            class="services-item-icon"
            src="./images/activity.png"
            alt="Activity icon"
            width="62"
            height="62"
          />
        </div>
        <h3 class="services-item-title">Business</h3>
        <ul class="services-item-sublist">
          <li class="services-sublist-item">Cash Flow</li>
          <li class="services-sublist-item">Asset Backed</li>
          <li class="services-sublist-item">Receivables Finance</li>
        </ul>
        <p class="services-sublist-descr">Find the best business product</p>
      </li>
      <li class="services-list-item">
        <div class="services-item-icon-wrapper">
          <img
            class="services-item-icon"
            src="./images/chart.png"
            alt="Chart icon"
            width="62"
            height="62"
          />
        </div>
        <h3 class="services-item-title">Enterprise</h3>
        <ul class="services-item-sublist">
          <li class="services-sublist-item">Site Acquisition</li>
          <li class="services-sublist-item">Bridge</li>
          <li class="services-sublist-item">Development Financing</li>
        </ul>
        <p class="services-sublist-descr">Find the best business product</p>
      </li>
    </ul>
  </div>
</section>
