<section class="section strategies-section">
  <div class="container">
    <h2 class="strategies-title">Contents Strategies</h2>
    <p class="strategies-descr">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="strategies-list">
      <li class="strategies-item">
        <img
          src="./images/strategies-img-1.jpg"
          alt=""
          width="350"
          height="185"
          class="strategies-img"
        />
        <div class="strategies-item-content-wrapper">
          <p class="strategies-item-descr">
            By <span class="strategies-item-autor">Wahid Ari</span> |
            <span class="strategies-item-date"> 03 March 2019</span>
          </p>
          <h3 class="strategies-item-title">
            Increasing Prosperity With Positive Thinking
          </h3>
        </div>
      </li>
      <li class="strategies-item">
        <img
          src="./images/strategies-image-2.jpg"
          alt=""
          class="strategies-img"
        />
        <div class="strategies-item-content-wrapper">
          <p class="strategies-item-descr">
            By <span class="strategies-item-autor">Wahid Ari</span> |
            <span class="strategies-item-date"> 03 March 2019</span>
          </p>
          <h3 class="strategies-item-title">
            Motivation Is The First Step To Success
          </h3>
        </div>
      </li>
      <li class="strategies-item">
        <img
          src="./images/strategies-image-3.jpg"
          alt=""
          class="strategies-img"
        />
        <div class="strategies-item-content-wrapper">
          <p class="strategies-item-descr">
            By <span class="strategies-item-autor">Wahid Ari</span> |
            <span class="strategies-item-date"> 03 March 2019</span>
          </p>
          <h3 class="strategies-item-title">
            Success Steps For Your Personal Or Business
          </h3>
        </div>
      </li>
    </ul>
  </div>
</section>
