.logo-link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 22px 0;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
}

.current {
  text-shadow: 0 0 1px rgba(34, 52, 61, 1);
}

.nav-link:hover,
.nav-link:focus {
  text-shadow: 0 0 1px rgba(34, 52, 61, 1);
}

.sign-buttons-list {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: auto;
}

.sign-btn {
  padding: 9px 24px;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
}

.sign-btn:hover,
.sign-btn:focus {
  opacity: .8;
}

.sign-in-btn {
  border: 1px solid #bcd0e5;
  background-color: transparent;
  color: #173a56;
  min-width: 105px;
}

.sign-up-btn {
  color: #fff;
  border: 1px solid transparent;
  background: #02897a;
  min-width: 113px;
}